:root {
	font-family: "Nunito", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	box-sizing: border-box; /* Asegura que el padding y borde estén incluidos en el tamaño total */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit; /* Hereda el box-sizing del root */
}

.body {
	display: flex;
	flex-direction: column;
	background-color: #d8eff4;
}

.header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0.5em 1em;
}
.logo {
	width: 60px;
	height: 60px;
	border-radius: 50px;
}

.title {
	font-weight: bold;
	padding-left: 8px;
}
.subtitle {
	padding: 0px;
	font-size: 1.5em;
	text-align: center;
}
.text-subtitle {
	text-align: center;
}

.secciones {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.check-box {
	display: flex;
	flex-direction: column;
	padding: 16px;
	margin: 16px;
	width: 90%; /* Ajustado para ser más adaptable */
	max-width: 30vh; /* Limita el ancho máximo */
	height: auto; /* Elimina el alto fijo para permitir que crezca dinámicamente */
	background-color: #fff;
	border-radius: 20px;
	overflow: hidden; /* Evita que el contenido exceda los bordes */
}

.title-check-box {
	font-size: 1.2em;
	font-weight: bold;
	padding: 0;
	text-align: center;
}

.text-checkbox {
	word-wrap: break-word; /* Asegura que las palabras largas se ajusten */
	overflow-wrap: break-word;
	text-align: justify; /* Justifica el texto para una mejor presentación */
}

.img-check-box {
	width: 100%;
	height: auto; /* Permite que la imagen se ajuste proporcionalmente */
	border-radius: 30px;
}

.desk {
	display: flex;
	flex-direction: column;
	position: relative; /* Cambiado a relativo */
	width: 100%;
	text-align: center;
	max-width: 30vh;
	max-height: 30vh;
	border-radius: 20px;
	margin: 0.5em;
	padding: 20px;
}

.div-mobile {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 30vh;
	max-height: 40vh;
	border-radius: 20px;
	margin: 0.5em;
	padding: 20px;
	background-color: #d0ffe3;
}

@media screen and (max-width: 906px) {
	.desk {
		visibility: hidden;
	}
	.div-mobile {
		visibility: visible;
	}
}

@media screen and (min-width: 907px) {
	.desk {
		visibility: visible;
	}
	.div-mobile {
		visibility: hidden;
	}

}

.descarga {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 24px;
	margin-bottom: 20px;
}

.qr-space {
	background-color: orange;
	width: 100%;
	height: 80%;
	border-radius: 20px;
}

.text-qr {
	text-align: center;
}

.img-space {
	width: 100%;
	height: auto; /* Ajusta automáticamente el alto basado en el ancho */
	border-radius: 20px;
}
.img-style {
	width: 100%;
	height: auto; /* Mantiene las proporciones de la imagen */
}

a.button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1px 6px;
	border: 1px outset buttonborder;
	border-radius: 16px;
	color: buttontext;
	background-color: buttonface;
	text-decoration: none;
}
